	
	<p><strong>Estadísticas:</strong></p>

	<ul>

		<li> Número de Preguntas: <%=statistics.n_preguntas%> </li>
		<li> Número de Comentarios Totales: <%=statistics.n_comentarios%> </li>
		<li> Número Medio de comentarios por Preguntas: <%=statistics.promedio_comentarios%> </li>
		<li> Numero de Preguntas Sin comentarios: <%=statistics.preg_sin_com%> </li>
		<li> Número de Preguntas Con comentarios: <%=statistics.preg_con_com%> </li>
		<li> Número de Preguntas No Publicados: <%=statistics.comentarios_no_pub%> </li>
	
	</ul>
