	
	<p><strong>Estadísticas:</strong></p>

	<ul>

		<li> Número de Preguntas: <%=statistics.numPreg%> </li>
		<li> Número de Comentarios Totales: <%=statistics.numCom%> </li>
		<li> Número Medio de comentarios por Preguntas: <%=statistics.numMedioComXPreg%> </li>
		<li> Numero de Preguntas Sin comentarios: <%=statistics.numPregSinCom%> </li>
		<li> Número de Preguntas Con comentarios: <%=statistics.numPregConCom%> </li>	
	</ul>