	
	<p><strong>Estadísticas:</strong></p>

	<ul>
		<li> Número de Preguntas: <%=estadisticas.numPreg%> </li>
		<li> Número de Comentarios Totales: <%=estadisticas.numCom%> </li>
		<li> Número Medio de comentarios por Preguntas: <%=estadisticas.numMedioComXPreg%> </li>
		<li> Numero de Preguntas Sin comentarios: <%=estadisticas.numPregSinCom%> </li>
		<li> Número de Preguntas Con comentarios: <%=estadisticas.numPregConCom%> </li>
	
	</ul>
